<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./../partials/head') %>

  <!--Custon CSS-->
  <link rel="stylesheet" href="../../css/style.css">
  <script src="../../js/admin/delete.js"></script>
</head>

</html>

<body>


 
  <section class="main-content" style="margin: 20px">
    <h3 style="margin-bottom: 30px;">List user</h3>
    <input name="_csrf" value="<%= csrfToken  %>" type="hidden" id="_csrf" />
    <% for( let i = 0; i < users.length; i++ ) { %>
    <div class="user" style="display: inline-flex;">
      <p style="margin-right: 20px;"><%= users[i].id %></p>
      <p style="font-weight: 800;margin-right: 20px;"><%= users[i].username %></p>
      <p ><%= users[i].role === '1' ? "Admin" : "User" %></p>
    </div>
    <button class="btn btn-primary" id="delete" style="margin-left: 20px" value="<%= users[i].id %>">Delete</button>
    <% if (users[i].role !== '1') { %>
      <button class="btn btn-primary" id="promote" style="margin-left: 20px" value="<%= users[i].id %>">Promote</button>
    <% } %>
    <div></div>
    <br>
    <% } %>
  </section>


  <footer class="footer-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 order-2 order-md-1">
          <div class="copyright">
            Copyright ©
            2023 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by BacteriaQH
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>